#DataScienceEcosystem

##author \ Ahmed Aloraij

In this notebook Data Science Tools and Ecosystem are summarized.

__Objectives:__
-list poplar languages that data scientist use
-list some of the commonly used libraries used by data scientists
-list some of the arithmtic expression

Some of the popular languages that Data Scientists use are:
1-R
2-SQL
3-Julia

Some of the commonly used libraries used by Data Scientists include:
1-pandas
2-numpy
3-scipy

|data science tools |
|:------------------:|
|Apache Spark|
|IBM SPSS|
|Julia|

###some of  a few examples of evaluating arithmetic expressions in Python.
+
-
*

In [4]:
 #This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335